<nav role="nav">
  <div class="nav-container">
    <div class="nav-left">
      <a href="#main"><img src="assets/images/cseslogo-300.png" alt="CSES Logo" /></a>
    </div>

    <div class="nav-right">
      <a href="#about">About</a>
      <!-- <a href="showcase">Showcase</a> -->
      <!-- <a href="cselabs">CSE Labs</a> -->
      <a href="#events">Events</a>
      <a href="#team">Team</a>
      <a href="#contact">Contact</a>
    </div>

    <div class="nav-right-hamburger">
      <div class="toggle-1"></div>
      <div class="toggle-2"></div>
      <div class="toggle-3"></div>
    </div>

    <div class="nav-right-collapse">
      <a href="#about">About</a>
      <!-- <a href="showcase">Showcase</a> -->
      <!-- <a href="cselabs">CSE Labs</a> -->
      <a href="#events">Events</a>
      <a href="#team">Team</a>
      <a href="#contact">Contact</a>
      <img src="assets/images/cseslogo-300.png" alt="CSES Logo"/>
    </div>
  </div>
</nav>

