<footer>
  <div class="footer-container">
    <div class="col left">
      <h5>Related Links</h5>
      <a class="subscribe-btn">Subscribe</a>
      <a href="https://www.facebook.com/groups/ucsdcses/" target="_blank">Facebook Group</a>
      <br />
    </div>

    <div class="col right">
      <p>UC San Diego</p>
      <p>9500 Gilman Dr.</p>
      <p>La Jolla, CA 92093</p>
      <br />
      <a href="mailto:csesucsd@gmail.com" style="word-wrap: break-word;">cses@eng.ucsd.edu</a>
    </div>

    <div class="footer-icons">
      <div class="col left">
        <img class="footer-cses-logo" src="assets/images/cseslogo-300.png" alt="CSES Logo" />
      </div>

      <div class="col right">
        <img class="footer-ucsd-logo" src="assets/images/UCSanDiegoLogo-White.png" alt="UCSD Logo" />
      </div>
    </div>
  </div>
</footer>

