::-webkit-scrollbar{
width:5px;
height:4px;
background:none; 
}
::-webkit-scrollbar-thumb{
background-color:#000000;
}

html, body {
    overflow: hidden;
}

body{
    background-color:#ffffff;
    font-family:arial;
    font-size:9px;
    word-wrap:break-word;
    margin:0;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    color:#000000;
    opacity: 1;
    transition: 5s opacity;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.title{
    font-size:19px;
    text-align:center;
    font-style:italic;
    font-family:futura;
}
#content{
    margin:auto;
    width:550px;
    padding:40px 0px 40px 0px;
    z-index:999;
}
#box{
    border:1px solid #949494;
    height:460px;
    overflow:scroll;
    overflow-x:hidden;
    top:14%;
    border-radius:2px;
    position:fixed;
    width:50vw;
}
#posts{
    overflow:hidden;
    margin:75px 0px 75px 0px;
    width:100%;
    z-index:999;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
}

@media (max-width: 1200px) {

    #box {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    pre {
        width: 90%;
    }
  
}
