<!-- SPONSORS -->
<section id="sponsors">
  <div class="section-container container">
    <h1>Sponsors</h1>
    <p>Here are some of the sponsors that help make our events possible. Thank you!</p>
    <div class="sponsor-container">
      <img class="sponsor-big" src="assets/images/sponsors/cse-ucsd.png">
      <img class="sponsor-big" src="assets/images/sponsors/viasat.png">
      <img class="sponsor" src="assets/images/sponsors/yelp.png">
      <img class="sponsor" src="assets/images/sponsors/riot-logo-black-text.png">
      <a href="https://labsociety.com/lab-equipment-category/vacuum-pumps/">
        <img class="sponsor-lab-society" style="margin-bottom: 70px;"src="assets/images/sponsors/lab_society.png">
      </a>
    </div>
    <p style="font-size: 25px">Interested in sponsoring? Reach out to us at csesucsd@gmail.com!</p>
  </div>
</section>
