section#sponsors {
  padding: 50px 0;
  background-color: #fff; }
section#sponsors .section-container {
  margin: 0 auto;
  max-width: 1000px; }
section#sponsors .section-container h1 {
  color: #414141;
  text-align: center;
  font-weight: 700; }
section#sponsors .section-container p {
  text-align: center; }
section#sponsors .section-container .sponsor-container {
  text-align: center; }
section#sponsors .section-container .sponsor {
  max-height: 120px;
  max-width: 180px;
  margin: 5% 3%;
  vertical-align: middle; }

.sponsor-lab-society {
  max-height: 120px;
  max-width: 180px;
  margin: 5% 3%;
  vertical-align: middle;
  margin-bottom: 60px;
}

section#sponsors .section-container .sponsor-big {
  max-height: 180px;
  max-width: 360px;
  margin: 5% 3%;
  vertical-align: middle;
}

@media only screen and (max-width: 47.9375em) {
  section#sponsors .section-container .sponsor {
    width: 40%; } }
@media only screen and (max-width: 39.9375em) {
  section#sponsors .section-container .sponsor {
    max-width: 100%; } }
