<section id="events">
  <div class="section-container container">
    <h1>Our Events</h1>
    <div class="responsive-iframe-container">
      <iframe src="https://calendar.google.com/calendar/embed?height=500&amp;wkst=1&amp;bgcolor=%23F6BF26&amp;ctz=America%2FLos_Angeles&amp;src=a2ZpY3MyamxtcTNhczhla2w2ZmprYzBsZDRAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23D50000" style="border:solid 1px #777" width="750" height="500" frameborder="0" scrolling="no"></iframe>
    </div>
    <div class="row">
      <!-- Section below commented out until upcoming events fix is deployed -->
      <!-- <div class="col-md-6">
        <button class="btn btn-purple btn-border-o col-md-12 col-xs-12" (click)="viewingUpcoming = true" [ngClass]="{'btn-purple-active': viewingUpcoming}">Upcoming Events</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-purple btn-border-o col-md-12 col-xs-12" (click)="viewingUpcoming = false" [ngClass]="{'btn-purple-active': !viewingUpcoming}">Past Events</button>
      </div> -->
    </div>
    <div id="events-container">
      <div *ngIf="viewingUpcoming">
        <div *ngFor="let event of upcomingFacebookEvents">
          <div class="event">
            <div class="event-img-container">
              <div class="event-img-overlay">
                <h4 class="no-margin">{{event.name}}</h4>
                <img [src]="event.cover" />
              </div>
            </div>
            <p class="event-date inline"><i class="fa fa-calendar-o"></i> {{event.start_time}}
            </p>
            <p class="event-time inline"><i class="fa fa-clock-o"></i> {{event.hour_time}}
            </p>
            <p class="event-location" *ngIf="event.place">
              <i class="fa fa-map-marker"></i> {{event.place.name}}
            </p>
            <p class="event-info">
              {{event.description}}
            </p>
            <a class="event-link-btn" href="https://www.facebook.com/events/{{event.id}}">
             Go to Facebook Event </a>
          </div>
        </div>
        <p *ngIf="!upcomingFacebookEvents" class="text-center">
          Events could not be fetched, please try refreshing the page.
        </p>
      </div>
      <div *ngIf="!viewingUpcoming">
        <div *ngFor="let event of pastFacebookEvents">
          <div class="event">
            <div class="event-img-container">
              <div class="event-img-overlay">
                <h4 class="no-margin">{{event.name}}</h4>
                <img [src]="event.cover" />
              </div>
            </div>
            <p class="event-date inline"><i class="fa fa-calendar-o"></i> {{event.start_time}}
            </p>
            <p class="event-time inline"><i class="fa fa-clock-o"></i> {{event.hour_time}}
            </p>
            <p class="event-location" *ngIf="event.place">
              <i class="fa fa-map-marker"></i> {{event.place.name}}
            </p>
            <p class="event-info">
              {{event.description}}
            </p>
            <a class="event-link-btn" href="https://www.facebook.com/events/{{event.id}}">
             Go to Facebook Event </a>
          </div>
        </div>
        <p *ngIf="!pastFacebookEvents" class="text-center">
          Events could not be fetched, please try refreshing the page.
        </p>
        <div class="section-container">
          <a href="https://www.facebook.com/pg/csesucsd/events" class="events-archive-btn">View Events</a>
          <a href="https://ucsdcses.github.io/tridev/" class="events-archive-btn">Tri-Dev Page</a>
        </div>

      </div>
    </div>
  </div>
</section>
