<section id="events">
  <div class="section-container container">
    <h1>Events</h1>
    <div id="events-container">
      <div *ngFor="let event of events">
        <div class="event">
          <div class="event-img-container">
            <div class="event-img-overlay">
              <h4>{{event.name}}</h4>
              <img src="event.cover" />
            </div>
          </div>
          <p class="event-date inline"><i class="fa fa-calendar-o"></i>
          {{event.startTime}}
          </p>
          <p class="event-time inline"><i class="fa fa-clock-o"></i>
          {{event.hourTime}}
          </p>
          <p class="event-location"><i class="fa fa-map-marker"></i>
          {{event.place.name}}
          </p>
          <p class="event-info">
          {{event.description}}
          </p>
          <a class="event-link-btn"
             href="https://www.facebook.com/events/{{event.id}}"
             >
             Go to Facebook Event
          </a>
        </div>
      </div>
    </div>
    <a href="https://www.facebook.com/pg/csesucsd/events" 
       class="events-archive-btn">View Archives</a>
  </div>
</section>

