:focus {outline:none;}
::-moz-focus-inner {border:0;}

section#events {
  padding: 50px 0;
  background-color: #f5f5f9;
}

section#events .section-container {
  margin: 0 auto;
  max-width: 800px;
}

section#events .section-container .event {
  margin: 20px 0;
  padding: 20px 25px;
  border: 1px solid #c5c5dc;
  background-color: #fff;
  transition: 0.2s all ease;
}

@media only screen and (max-width: 29.9375em) {
  section#events .section-container .event {
    padding: 20px 15px;
  }
}

section#events .section-container .event i {
  margin-right: 4px;
  width: 14px;
  color: #025878;
  text-align: center;
  font-size: 16px;
}

section#events .section-container .event .event-img-container {
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  max-height: 300px;
  border: 1px solid #3d3d3d;
  transition: 0.2s all ease;
}

section#events .section-container .event .event-img-overlay {
  width: 100%;
  height: 100%;
  background-position: 50% 0;
  background-size: cover;
  transition: 0.5s all ease;
}

section#events .section-container .event .event-img-overlay:hover {
  transform: scale(1.015);
}

section#events .section-container .event .event-img-overlay h4 {
  padding: 6px 2%;
  background-color: rgba(0, 0, 0, 0.9);
  color: #f5f5f9;
  font-weight: 600;
}

section#events .section-container .event .event-img-overlay img {
  width: 100%;
}

section#events .section-container .event h4.event-name {
  margin-bottom: 8px;
  color: #025878;
  font-weight: 600;
}

section#events .section-container .event p.event-date, section#events .section-container .event p.event-time, section#events .section-container .event p.event-location {
  font-size: 15px;
}

section#events .section-container .event p.event-info {
  margin-top: 15px;
  color: #414141;
  transition: 0.2s all ease;
}

section#events .section-container .event p.event-info a {
  color: #025878;
  font-weight: 400;
}

section#events .section-container .event p.event-info a:hover {
  color: #026a91;
}

section#events .section-container .event a.event-link-btn {
  display: inline-block;
  margin: 15px 5px 0 0;
  padding: 6px 12px;
  background-color: rgba(2, 88, 120, 0.8);
  box-shadow: 3px 3px 5px rgba(60, 60, 60, 0.4);
  color: #fff;
  text-align: center;
  font-size: 14px;
  transition: 0.2s all ease;
  text-decoration: none;
}

@media only screen and (max-width: 29.9375em) {
  section#events .section-container .event a.event-link-btn {
    font-size: 13px;
  }
}

section#events .section-container .event a.event-link-btn i {
  margin-left: 5px;
  color: #fff;
}

section#events .section-container .event a.event-link-btn:hover {
  background-color: #025878;
}

section#events .section-container h1 {
  color: #414141;
  text-align: center;
  font-weight: 700;
}

section#events .section-container .events-archive-btn {
  display: block;
  margin: 25px auto 0 auto;
  width: 250px;
  height: 45px;
  background-color: #edab18;
  box-shadow: 3px 3px 5px rgba(60, 60, 60, 0.4);
  color: #fff;
  text-align: center;
  line-height: 45px;
  transition: 0.2s all ease;
  text-decoration: none;
}

section#events .section-container .events-archive-btn:hover {
  background-color: #da9c11;
}

.text-center {
  text-align: center;
}

.btn {
  display: inline-block;
  line-height: 35px;
  margin: 8px;
  padding: 0 15px;
  font-size: 15px;
  position: relative;
  opacity: .999;
  border-radius: 3px;
  transition: all 0.3s;
}

.btn-border-o {
  background-color: transparent;
  border: 1px solid #d0d0d0;
  color: #B8B8B8;
}

.btn-border-o:before, .btn-border-o:after {
  content: '';
  border-style: solid;
  position: absolute;
  z-index: 5;
  border-radius: 3px;
  box-sizing: content-box;
  transition: all 0.3s;
}

.btn-border-o:before {
  width: 0;
  height: 100%;
  border-width: 1px 0 1px 0;
  top: -1px;
  left: 0;
  transition-delay: 0.05s;
}

.btn-border-o:after {
  width: 100%;
  height: 0;
  border-width: 0 1px 0 1px;
  top: 0;
  left: -1px;
}

.btn-border-o:hover:before {
  width: 100%;
}

.btn-border-o:hover:after {
  height: 100%;
}

.btn-purple:before, .btn-purple:after {
  border-color: #9b59b6;
}

.btn-purple:hover {
  color: #9b59b6;
}

.btn-purple-active {
  border-color: #9b59b6;
  color: #9b59b6;
}

.row {
  margin-right: 0;
}
