@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';
@import 'font-awesome.min.css';
@import url('http://fonts.googleapis.com/css?family=Roboto:400,700');

	@include skel-breakpoints((
		xlarge: '(max-width: 1680px)',
		large: '(max-width: 1280px)',
		medium: '(max-width: 980px)',
		small: '(max-width: 736px)',
		xsmall: '(max-width: 480px)',
		xxsmall: '(max-width: 360px)',
		short: '(max-height: 640px)'
	));

	@include skel-layout((
		reset: 'full',
		boxModel: 'border'
	));

// Base.

	@import 'base/page';
	@import 'base/bg';
	@import 'base/typography';

// Components.

	@import 'components/section';
	@import 'components/icon';
	@import 'components/list';
	@import 'components/form';
	@import 'components/button';

// Layout.

	@import 'layout/header';
	@import 'layout/signup-form';
	@import 'layout/footer';
