/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";

$bg: black;
$barsize: 15px;
$primary-color: black;

@mixin easeOut {
  transition: all .4s cubic-bezier(0.23, 1, 0.32, 1)
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

body{
  background: black;
  font-family: 'Varela', sans-serif;
  color: white;
}

h1 {
  z-index: 50;
  margin: 125px 0 0 125px;
  font-size: 12em;
  font-family: Arial, sans-serif;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

  @media screen and (max-width: 800px) {
    font-size: 3em !important;
  }
}

a {
  color: white; 
  font-size: 3em;

  &:hover {
    color: white;
  }

  &:focus {
    color: white;
    text-decoration: none;
    outline: none;
  }
}

.button-link {
  height: 100%; 
  background: transparent; 
  border: #355C7D 1px solid;
  font-weight: 100;
  font-style: normal;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;

  &:hover {
    border: #EBB111 1px solid;
    background: transparent;
  
  }

}


#landing-content {
  margin-top: 10vh;
}

#header h1 {
  font-size: 9.25em;
}

#header p {
  color: white;
}

#center-buttons button {
  background-color: transparent;

}


.hr {

  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;

  &:after,
  &:before {

    content: "";
    position: absolute;

    width: 100%;
    height: 1px;
    bottom: 50%;
    left: 0;

  }

  &:before {

    background: linear-gradient( 90deg, $bg 0%, $bg 50%, transparent 50%, transparent 100% );
    background-size: $barsize;
    background-position: center;
    z-index: 1;

  }

  &:after {
    transition: opacity 0.3s ease, animation 0.3s ease;
    background: white;
    background-size: 200%;
    background-position: 0%;
    animation: bar 15s linear infinite;

  }

  @keyframes bar {

    0% { background-position: 0%; }
    100% { background-position: 200%; }

  }

}

.hr.anim {
  &:before {
    background: linear-gradient( 
    90deg, 
    $bg 0%, $bg 5%, 
    transparent 5%, transparent 10%, 
    $bg 10%, $bg 15%, 
    transparent 15%, transparent 20%, 
    $bg 20%, $bg 25%,
    transparent 25%, transparent 30%,
    $bg 30%, $bg 35%, 
    transparent 35%, transparent 40%, 
    $bg 40%, $bg 45%, 
    transparent 45%, transparent 50%, 
    $bg 50%, $bg 55%,
    transparent 55%, transparent 60%,
    $bg 60%, $bg 65%,
    transparent 65%, transparent 70%, 
    $bg 70%, $bg 75%, 
    transparent 75%, transparent 80%, 
    $bg 80%, $bg 85%,
    transparent 85%, transparent 90%,
    $bg 90%, $bg 95%, 
    transparent 95%, transparent 100% );

    background-size: $barsize * 10;
    background-position: center;
    z-index: 1;

    animation: bar 120s linear infinite;

  }
}

.full-screen {
  max-height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  position: fixed;
  z-index: 1000;
  left: 20px;
  top: 7px;
	width: 25vw;
}

.burger {
  position: fixed;
  z-index: 1000;
  right: 30px;
  top: 30px;
  cursor: pointer;
  transform: rotateY(0);
  @include easeOut;


  &__patty {
    width: 28px;
    height: 2px;
    margin: 0 0 4px 0;
    background: white;
    @include easeOut;

    &:last-child {
      margin-bottom: 0;
    }
  }

  // transform burger into 'x'
  &--close {
    transform: rotate(180deg);

    .burger__patty {
      &:nth-child(1) {
        transform: rotate(45deg) translate(4px, 4px);
      }
      &:nth-child(2) {
        opacity: 0;
      }
      &:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -4px);
      }
    }
  }

}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
  .logo {
    display: none;
  }
}

.navbar-default {
  position: fixed;
  z-index: 1337;
  top: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  border-color: transparent;
  border-bottom: 1px solid white;
}

.menu {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
  visibility: hidden;

  &--active {
    visibility: visible;
  }

  &__brand,
  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  &__list {
    margin: 0;
    padding: 0;
    background: mix(black, $primary-color, 20);
    list-style-type: none;
    transform: translate3d(0, -100%, 0);
    @include easeOut;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__item {
    @include easeOut;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    font-size: 3em;
    padding: 15px 0;
    font-weight: 300;
    color: white;
    text-decoration: none;
    color: white;
    @include easeOut;

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 10px;
      height: 2px;
      background: white;
      transform: translateX(-50%);
      @include easeOut;
    }

    &:hover {
      &:before {
        width: 100%;
      }
    }

    &:active {
      text-decoration: none;

    }
  }

  // add delay to each menu item
  @for $x from 1 through 6 {
    .menu__item:nth-child(#{$x}) {
      transition-delay: $x * .1s;
    }
  }
}

.current {
  &:before {
    width: 100%;
  }
}

// responsive tablet view
@include tablet {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;

    &--active {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu__list {
    height: 100vh;
    transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .logo {
      width: 90px;
      height: 90px;
    }
  }

}


.glitch{
  font-size: 175px;
  width: 375px;
  margin: 0px 50vw 0 auto;
  position: relative;
  font-weight: normal;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}
@keyframes noise-anim{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(200)+px,9999px,random(200)+px,0);
    }
  }
}
.glitch:after{
  content:attr(data-text);
  position:absolute;
  left:4px;
  text-shadow:-1px 0 #0C85AA;
  top:0;
  color:transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2{
  $steps:20;
  @for $i from 0 through $steps{
    #{percentage($i*(1/$steps))}{
      clip:rect(random(200)+px,9999px,random(200)+px,0);
    }
  }
}
.glitch:before{
  content:attr(data-text);
  position:absolute;
  left:-4px;
  text-shadow:1px 0 #EBB111; 
  top:0;
  color:transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
  background:transparent;
  overflow:hidden;
  clip:rect(0,900px,0,0); 
  animation:noise-anim-2 5s infinite linear alternate-reverse;
}

@media screen and (max-width: 768px) {
  .glitch{
    font-size: 80px;
    width: 350px;
    margin: 0 auto;
  }

  .navbar-default {
    display: none;
  }

  .cust-quotes blockquote p {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 325px) {
  .glitch{
    font-size: 75px;
    width: 350px;
    margin: 0 auto;
  }
}

.smalltext {
  padding-right: 10px;
  font-size: 1.5em;
}

/* horizontal */
.horizontal {
  width: 287px;
  position: relative;
  overflow: hidden;
}
.horizontal .items {
  width: 1148px;
  -webkit-animation: hscroll 20s infinite;
  -moz-animation: hscroll 20s infinite;
  -ms-animation: hscroll 20s infinite;
  animation: hscroll 20s infinite;
}
.horizontal .item {
  margin: 0;
  float: left;
  width: 287px;
}
/*
/* The keyframes calculations are based on assumption of 4 items in the carousel.
/* You should notice the pattern for your own calculations.
 */
@-webkit-keyframes hscroll {
  0%, 18.75%  { margin-left: 0 }
  25%, 43.75% { margin-left: -287px; }
  50%, 68.75% { margin-left: -574px; }
  75%, 93.75% { margin-left: -861px; }
  100%  { margin-left: 0 }
}
@-moz-keyframes hscroll {
  0%, 18.75%  { margin-left: 0 }
  25%, 43.75% { margin-left: -287px; }
  50%, 68.75% { margin-left: -574px; }
  75%, 93.75% { margin-left: -861px; }
  100%  { margin-left: 0 }
}
@-ms-keyframes hscroll {
  0%, 18.75%  { margin-left: 0 }
  25%, 43.75% { margin-left: -287px; }
  50%, 68.75% { margin-left: -574px; }
  75%, 93.75% { margin-left: -861px; }
  100%  { margin-left: 0 }
}
@keyframes hscroll {
  0%, 18.75%  { margin-left: 0 }
  25%, 43.75% { margin-left: -287px; }
  50%, 68.75% { margin-left: -574px; }
  75%, 93.75% { margin-left: -861px; }
  100%  { margin-left: 0 }
}

#event-photos .carousel-inner{
    height: 500px;
    @media (max-width: 1000px) {
      height: 250px;
    }
    @media (max-width: 400px) {
      height: 150px;
    }
}

#event-photos .carousel-inner img{
    position: relative;
    top: 50%;
    transform: translateY(-25%);
}
