<!-- ABOUT -->
<section id="about">
  <div class="section-container container">
    <h1>Our Goal</h1>
    <p>At CSES, we aim to form a passionate community of computer scientists 
    and engineers at UC San Diego. From tech talks, to social events, to 
    outreach, we have a diverse set of events and activities that appeal to any 
    computer scientist or engineer.</p>
  </div>

  <div class="pillar-container">

    <div class="pillar">
      <div class="pillar-icon">
        <img src="assets/images/innovate.svg" alt="Pillar Icon"/>
      </div>
      <div class="triangle"></div>
      <h4>Innovate</h4>
    </div>

    <div class="pillar">
      <div class="pillar-icon">
        <img src="assets/images/build.svg" alt="Pillar Icon"/>
      </div>
      <div class="triangle"></div>
      <h4>Build</h4>
    </div>

    <div class="pillar">
      <div class="pillar-icon">
        <img src="assets/images/connect.svg" alt="Pillar Icon"/>
      </div>
      <div class="triangle"></div>
      <h4>Connect</h4>
    </div>

  </div>
</section>


