<ng-include src="'/showcase/partials/navbar.html'"></ng-include>
<div id="page_content" class="static_pages home fadeIn animated top">
    <div class="container">
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <div class="row">
                    <div class="col-sm-8 col-sm-push-4 no-padding">

                    </div>
                    <div class="col-sm-4 col-sm-pull-8 project-text">
                        <h1 class="heading"> Sorry, this page doesn't exist.</h1>
                        <a class="btn btn-lg btn-default fourofour" href="home">Go Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>