<section id="team">
  <div class="section-container container">
    <h1>Board</h1>
    <ul>

      <li class="team-bio-button"
          *ngFor="let teamMember of getBioSet().BIO_SET"
          (click)="openBioModal(teamMember)">
        <div class="team-img-container">
          <img [src]="teamMember.getImage()" alt="CSES Team Member" />
        </div>
        <h5 class="team-name">{{teamMember.name}}</h5>
        <p class="team-position">{{teamMember.title}}</p>
      </li>
    </ul>
  </div>
</section>
